/* GENERAL */

p{

font-family: Roboto,Arial;
margin-top: 0px;
margin-bottom: 0px;
}

a{
  text-decoration: none;
  color: black;
}
/* MAIN */

.main{

min-height: 120vh;
background-color: rgba(247, 244, 240, 0.699) ;
}

/* Header */

.header{

display: flex;
height: 57px;
align-items: center;
justify-content: space-between;
border-bottom: 1px solid #dedede;
top: 0;
left: 0;
right: 0;
position: fixed;
background-color: white;
z-index: 100;

}

body{

padding-left: 80px;
padding-top: 60px;
}

/*RIGHT*/

.right{

display: flex ;
align-items: center;
justify-content: space-between;
column-gap: 20px;
margin-right: 24px;
margin-left: 24px;
column-gap: 20px;
flex-shrink: 0;
}

.icon-right{

  width: 24px;
  height: 24px;
  cursor: pointer;
}

/*
.icon-right:hover{
  
  position: absolute;

  background-color: rgba(96, 96, 96, 0.9);
  transition: opacity 0.15s;
  bottom: -46;
  right: -30;
  font-family: roboto, Arial;
  font-size: 12px;
  padding: 8px;
  color: white;
  border-radius: 2px;
}
*/
.notifications{
 
position: relative; 
}

.notification-count{
position: absolute;

background-color: rgb(228, 8, 8);
border-radius: 20px;
top:-5;
right:-5;
color:white;
font-family: roboto, Arial;
font-size: 12px;
padding-left: 5px;
padding-right: 5px;
padding-top: 2px;
padding-bottom: 2px;
cursor: pointer;
}


.notifications .hover-info{
  
  position: absolute;
  background-color: rgba(96, 96, 96, 0.9);
  transition: opacity 0.15s;
  bottom: -54;
  right: -30;
  font-family: roboto, Arial;
  font-size: 12px;
  padding: 8px;
  color: white;
  border-radius: 2px;
  opacity: 0;
  pointer-events: none;
  
}

.notifications:hover .hover-info{

  position: absolute;
  background-color: rgba(96, 96, 96, 0.9);
  transition: opacity 0.15s;
  bottom: -54;
  right: -30;
  font-family: roboto, Arial;
  font-size: 12px;
  padding: 8px;
  color: white;
  border-radius: 2px;
  opacity: 1;
  pointer-events: none;
}


.notifications .hover-info-search{

  position: absolute;
  background-color: rgba(96, 96, 96, 0.9);
  transition: opacity 0.15s;
  bottom: -54;
  right: -30;
  font-family: roboto, Arial;
  font-size: 12px;
  padding: 8px;
  color: white;
  border-radius: 2px;
  opacity: 0;
  pointer-events: none;
}

.notifications:hover .hover-info-search{

  position: absolute;
  background-color: rgba(96, 96, 96, 0.9);
  transition: opacity 0.15s;
  bottom: -54;
  right: 3;
  font-family: roboto, Arial;
  font-size: 12px;
  padding: 8px;
  color: white;
  border-radius: 2px;
  opacity: 1;
  pointer-events: none;
}




.notifications .hover-info-upload{
  
  position: absolute;
  background-color: rgba(96, 96, 96, 0.9);
  transition: opacity 0.15s;
  bottom: -54;
  right: -30;
  font-family: roboto, Arial;
  font-size: 12px;
  padding: 8px;
  color: white;
  border-radius: 2px;
  opacity: 0;
  pointer-events: none;
}

.notifications:hover .hover-info-upload{

  position: absolute;
  background-color: rgba(96, 96, 96, 0.9);
  transition: opacity 0.15s;
  bottom: -54;
  right: -15;
  font-family: roboto, Arial;
  font-size: 12px;
  padding: 8px;
  color: white;
  border-radius: 2px;
  opacity: 1;
  pointer-events: none;
}


.youtubelogo{

  width: 90px;
  height: 20px;
  cursor: pointer;

}

/*MID*/

.mid{

max-width: 480px;
flex: 1;
display: flex;
align-items: center;
margin-left: 70px;
margin-right: 35px;


}

.search-bar{

flex: 1;
height: 40px;
padding-left: 10px;
border: 1px solid #d3d3d3;
box-shadow: inset 0 1px 2px #eee;
font-family: Roboto, Arial;
font-weight: 400;
font-size: 16px;
width: 0;

}


.search-button{

height: 40px;
width: 60px;
margin-left: -1px;
border: 1px solid #d3d3d3;
cursor: pointer;
}

.search-icon{

width: 24px;
height: 24px;
}

.voice-button{

width: 40px;  
height: 40px;
border-radius: 20px;
background-color: #fbfbfb;
border: none;
margin-left: 8px;
cursor: pointer;
}

.voice-icon{

width: 24px;
height: 24px;
}

/*LEFT*/
.left{

width: 180px;
display: flex ;
align-items: center;
}

.icon-left{

  width: 24px;
  height: 24px;
  margin-left: 24px;
  margin-right: 24px;
  cursor: pointer;
}

.profile-pic{

width: 32px;
border-radius: 16px;
cursor: pointer;
}

/* NAV */

.nav{

width: 72px;
position: fixed;
left: 0;
bottom: 0;
top: 55px;
background-color: white;

}

.sidebar{

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 74px;
cursor: pointer;
}

.side-bar-pic{

width: 24px;
height: 24px;
margin-bottom: 5px;
}

div.sidebar{

font-family: roboto, Arial, Helvetica, sans-serif;
font-size: 10px;
font-weight: 500;
}

.sidebar:hover{

background-color: #e1e1e1;
}


/* VIDEO */

.YT-channel{

width: 100%;
}

.thumbnail{

width: 100%;
cursor: pointer;
}

.description{
 display: grid;
 grid-template-columns: 48px 1fr;
}

.profil-img{

width: 36px;
height: 36px;
border-radius: 18px;
margin-top: 12px;



}

.channel-picture{

width: 15%;
align-items: bottom;

}

.spodni-cast{


}

.Popis{

width: 100%;
display: inline;

}

.popisek{

font-weight: 500;
margin-top: 12px;
width: 100%;

}

.popis-info{

  font-size: small;
  color: #606060;
  margin-bottom: 16px;
  width: 100%;
  
}

.popis-info-view{

font-size: small;
color: #606060;
margin-top: 8px;
width: 100%;
margin-bottom: 4px;

}
.top-video{

position: relative;
}

.timer{

font-family: roboto,Arial;
font-size: 12px;
padding: 5px;
border-radius: 3px;
color: white;
position: absolute;
right:5px;
bottom: 7px;
background-color: black;
opacity: 0.8;
}

/* GRID */

.video-grid{

display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
row-gap: 20px;
column-gap: 10px;
padding: 20px;
}

@media (max-width: 750px){
  .video-grid{
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 751px) and (max-width: 999px) {
  .video-grid{
    grid-template-columns: 1fr 1fr 1fr;
  }  
}


@media (min-width: 1000px){
  .video-grid{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}


}

/* FOOTER */

footer{
  height: 200px;
}